<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Greetings</h1>
    <form method="POST" action="/new">
      <label for="author">
        User
        <input type="text" name="author" />
      </label>
      <label name="message">
        Greeting
        <input type="text" name="message" />
      </label>
      <button>Submit</button>
    </form>
  </body>
</html>
