<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add greeting</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="inner-container">
        <div class="form-container">
          <img src="../assets/miniMessage.png" alt="website-logo" />

          <div class="heading">
            <h1>Welcome!</h1>
            <p class="sub-heading">Add a greeting below</p>
          </div>
          <form method="POST" action="/new">
            <div>
              <div class="input">
                <label for="author"> <h4>Author</h4> </label>
                <input type="text" name="author" />
              </div>
              <div class="input">
                <label name="message"> <h4>Greeting</h4> </label>
                <input type="text" name="message" />
              </div>
              <button class="btn submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
