<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>Author: <strong> <%=user%> </strong></p>
    <p>Greeting: <strong> <%=text%> </strong></p>
    <p>Date Added: <strong> <%=added%> </strong></p>
  </body>
</html>
