<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    <div class="container">
      <div class="new-messages-container">
        <form action="/search" method="post">
          <div class="search-container">
            <label for="search">Search by Username</label>
            <div class="search-input">
              <input type="text" name="search" id="search" />
              <button type="submit" class="search-button">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
