<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    <div class="container">
      <div class="new-messages-container">
        <%if(locals.userNotFound){%>
        <p class="sub-heading"><%=userNotFound%></p>
        <%}%>
        <br />
        <%users.forEach(user=>{%>

        <p>Author: <strong> <%=user.username%> </strong></p>
        <p>Greeting: <strong> <%=user.text%> </strong></p>
        <p>Date Added: <strong> <%=user.date%> </strong></p>

        <%})%>
      </div>
    </div>
  </body>
</html>
